<div class="row">
	<div class="col-md-3">
		
		<div class="panel panel-default">
			<div class="panel-heading">My Profile</div>	
			<div class="panel-body">
				<%= image_tag(current_user.avatar.url(:medium)) %>
				<h2><%= @user.fullname %></h2>
				<%= @user.email%><br>
				<%= @user.phone_number%><br>
				<%= @user.live_in%><br>
				<div class="describe row-space-3">
				<%= @user.description %>
				</div>
			</div>
		</div>
	</div>
