<div class="row">
	<div class="col-md-3">
	<ul class = "sidebar-list">
		<li class="sidebar-item"><%= link_to "Your listing", gears_path, class: "sidebar-link active" %></li>
		
		<li class="sidebar-item"><%= link_to "Your Reservation", gears_path, class: "sidebar-link" %></li>

	</ul>	
	</div>
<div class="col-md-9">
<div class="panel panel-default">
	<div class="panel-heading">
		Listings
	</div>
	<div class="panel-body">
		<% @gears.each do |gear| %>
		<div class="row">
			
			<div class="col-md-3 right">
				<h5><%= gear.gear_type %></h5>
			</div>

			<div class="col-md-3 right">
				<h5><%= gear.listing_name %></h5>
			</div>

			<div class="col-md-3 right">
				<h5><%= gear.price %></h5>
			</div>

			<div class="col-md-3 right">
				<%= link_to "Update", edit_gear_path(gear), class: "btn btn-primary" %>
			</div>
		</div>
		<% end %>
	</div>

</div>
	
</div>

</div>